<?xml version='1.0' encoding='utf-8'?>
<robot name="umi">
  <link name="ajktns5_70__ajktns5_70">
    <inertial>
      <mass value="3.95971e-06" />
      <origin xyz="1.63638e-14 0.00246049 0.0139541" rpy="0 -0 0" />
      <inertia ixx="3.31267e-09" ixy="0" ixz="0" iyy="3.21508e-09" iyz="-5.53483e-10" izz="1.73715e-10" />
    </inertial>
    <visual>
      <origin xyz="-8.15736e-18 0.0170949 0.102709" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/AJKTNS5_70__AJKTNS5_70.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="block_sse2bz_mx10_115__lpattern2">
    <inertial>
      <mass value="3.7028e-06" />
      <origin xyz="-1.13952e-18 0.00241176 -0.00477" rpy="0 -0 0" />
      <inertia ixx="1.57819e-10" ixy="0" ixz="0" iyy="4.1507e-10" iyz="0" izz="2.90814e-10" />
    </inertial>
    <visual>
      <origin xyz="0 -0.00407 -0.00477" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/BLOCK_SSE2BZ_MX10_115__LPattern2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="block_sse2bz_mx10_115__lpattern2_1">
    <inertial>
      <mass value="3.7028e-06" />
      <origin xyz="-1.13952e-18 0.00241176 -0.00477" rpy="0 -0 0" />
      <inertia ixx="1.57819e-10" ixy="0" ixz="0" iyy="4.1507e-10" iyz="0" izz="2.90814e-10" />
    </inertial>
    <visual>
      <origin xyz="0 -0.00407 -0.00477" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/BLOCK_SSE2BZ_MX10_115__LPattern2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="bracket_camera__bracket_camera">
    <inertial>
      <mass value="5.10873e-06" />
      <origin xyz="-0.000402622 -0.00635799 0.0173209" rpy="0 -0 0" />
      <inertia ixx="1.18609e-09" ixy="1.084e-11" ixz="3.94122e-11" iyy="1.48218e-09" iyz="2.9563e-12" izz="5.64733e-10" />
    </inertial>
    <visual>
      <origin xyz="0 -0.014 -0.004" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/BRACKET_CAMERA__BRACKET_CAMERA.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="camera_link" data-frame-convention="camera_optical">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="encoder__boss_extrude2">
    <inertial>
      <mass value="3.81897e-07" />
      <origin xyz="0.000776185 -4.5054e-19 -0.0085" rpy="0 -0 0" />
      <inertia ixx="1.59108e-11" ixy="0" ixz="0" iyy="9.30642e-12" iyz="0" izz="6.76376e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.0085" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/encoder__Boss_Extrude2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="grip__grip">
    <inertial>
      <mass value="1.77996e-05" />
      <origin xyz="0.00467229 -0.0065475 -0.0381094" rpy="0 -0 0" />
      <inertia ixx="9.75267e-09" ixy="0" ixz="0" iyy="9.18651e-09" iyz="-1.47408e-09" izz="1.11737e-09" />
    </inertial>
    <visual>
      <origin xyz="0.00467229 0.00380428 0.0245292" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/GRIP__GRIP.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="grip_link">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="hntt5_5__hntt5_5_1_">
    <inertial>
      <mass value="2.38577e-07" />
      <origin xyz="-1.23155e-14 -0.000363429 -0.00206111" rpy="0 -0 0" />
      <inertia ixx="2.77419e-12" ixy="0" ixz="0" iyy="1.92569e-12" iyz="3.80769e-13" izz="4.018e-12" />
    </inertial>
    <visual>
      <origin xyz="-6.87783e-18 0.00240431 0.0193943" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/HNTT5_5__HNTT5_5_1_.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="holder_quest_r__holder_quest_45deg_v3_r">
    <inertial>
      <mass value="2.91479e-05" />
      <origin xyz="0.0291596 -0.0222697 -0.00587211" rpy="0 -0 0" />
      <inertia ixx="9.73711e-09" ixy="2.10619e-09" ixz="-4.39287e-11" iyy="1.1386e-08" iyz="-1.07454e-10" izz="1.88736e-08" />
    </inertial>
    <visual>
      <origin xyz="0.01 -0.005 -0.017" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/HOLDER_Quest_R__HOLDER_Quest_45deg_v3_R.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="left_gripper">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="left_gripper_jaw1">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="left_gripper_jaw2">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="left_gripper_tip">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="left_jaw__none">
    <inertial>
      <mass value="2.62035e-05" />
      <origin xyz="0.0202501 -0.00700303 0.00830939" rpy="0 -0 0" />
      <inertia ixx="7.36198e-09" ixy="-2.76967e-10" ixz="2.40043e-09" iyy="1.44525e-08" iyz="3.86904e-10" izz="1.8532e-08" />
    </inertial>
    <visual>
      <origin xyz="0.005 0.00559997 0.0429114" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/left_jaw__NONE.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="main_mount__cut_extrude10">
    <inertial>
      <mass value="7.27602e-05" />
      <origin xyz="0.000715507 2.59045e-05 0.0113203" rpy="0 -0 0" />
      <inertia ixx="7.47775e-08" ixy="7.22274e-12" ixz="-1.31159e-09" iyy="2.75268e-08" iyz="1.03496e-11" izz="5.85131e-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/main_mount__Cut_Extrude10.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="marker_plate_left__cbore_for_m2_cross_recess_pan_head_screw1">
    <inertial>
      <mass value="1.35619e-06" />
      <origin xyz="-0.0126783 -0.00482166 0.000890417" rpy="0 -0 0" />
      <inertia ixx="1.31699e-10" ixy="2.74716e-11" ixz="-2.51867e-12" iyy="7.04507e-11" iyz="5.95138e-12" izz="1.99783e-10" />
    </inertial>
    <visual>
      <origin xyz="-0.0111878 -0.00987812 0.000500322" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/marker_plate_left__CBORE_for_M2_Cross_Recess_Pan_Head_Screw1.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="marker_plate_right___marker_plate_left___cbore_for_m2_cross_recess_pan_head_screw1_">
    <inertial>
      <mass value="1.3562e-06" />
      <origin xyz="-0.0126783 -0.00482158 -0.000890416" rpy="0 -0 0" />
      <inertia ixx="1.317e-10" ixy="2.74726e-11" ixz="2.51869e-12" iyy="7.04516e-11" iyz="-5.95138e-12" izz="1.99785e-10" />
    </inertial>
    <visual>
      <origin xyz="-0.0111878 -0.00987812 -0.000500322" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/marker_plate_right___marker_plate_left___CBORE_for_M2_Cross_Recess_Pan_Head_Screw1_.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="part3__boss_extrude3">
    <inertial>
      <mass value="6.15625e-06" />
      <origin xyz="0.00233991 0.00503878 -0.00156774" rpy="0 -0 0" />
      <inertia ixx="8.72128e-10" ixy="-3.75859e-12" ixz="1.81433e-10" iyy="6.89254e-10" iyz="1.5357e-12" izz="7.30643e-10" />
    </inertial>
    <visual>
      <origin xyz="-0.005 0.005 0.0026" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/Part3__Boss_Extrude3.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="part3__boss_extrude3_1">
    <inertial>
      <mass value="6.15625e-06" />
      <origin xyz="0.00233991 -0.00496122 -0.0165677" rpy="0 -0 0" />
      <inertia ixx="8.72128e-10" ixy="-3.75859e-12" ixz="1.81433e-10" iyy="6.89254e-10" iyz="1.5357e-12" izz="7.30643e-10" />
    </inertial>
    <visual>
      <origin xyz="-0.005 -0.005 -0.0124" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/Part3__Boss_Extrude3.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="pinion_gear__bore_1_">
    <inertial>
      <mass value="1.80946e-06" />
      <origin xyz="0.00378004 -6.53658e-18 -1.48098e-18" rpy="0 -0 0" />
      <inertia ixx="5.08285e-11" ixy="0" ixz="0" iyy="5.03155e-11" iyz="0" izz="5.03155e-11" />
    </inertial>
    <visual>
      <origin xyz="0.001 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/pinion_gear__Bore_1_.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="rack__teethcuts_1_">
    <inertial>
      <mass value="3.38836e-06" />
      <origin xyz="-0.0404346 0.00249917 -8.67362e-19" rpy="0 -0 0" />
      <inertia ixx="2.61618e-11" ixy="-2.79653e-12" ixz="0" iyy="2.29205e-09" iyz="0" izz="2.28158e-09" />
    </inertial>
    <visual>
      <origin xyz="-0.085 -3.06162e-20 0.004" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/rack__TeethCuts_1_.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="rack__teethcuts_1__1">
    <inertial>
      <mass value="3.38836e-06" />
      <origin xyz="-0.0404346 0.00249917 -8.67362e-19" rpy="0 -0 0" />
      <inertia ixx="2.61618e-11" ixy="-2.79653e-12" ixz="0" iyy="2.29205e-09" iyz="0" izz="2.28158e-09" />
    </inertial>
    <visual>
      <origin xyz="-0.085 -3.06162e-20 0.004" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/rack__TeethCuts_1_.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="rail_holder__cut_extrude2">
    <inertial>
      <mass value="9.48016e-06" />
      <origin xyz="-0.000571098 -0.07 0.00054478" rpy="0 -0 0" />
      <inertia ixx="2.34936e-08" ixy="0" ixz="8.81619e-12" iyy="6.98574e-10" iyz="0" izz="2.34144e-08" />
    </inertial>
    <visual>
      <origin xyz="-0.008 -0.07 7.37841e-18" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/RAIL_HOLDER__Cut_Extrude2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="rail_sse2bz_mx10_115__chamfer2">
    <inertial>
      <mass value="6.20215e-06" />
      <origin xyz="-0.07 0.00256737 2.02448e-18" rpy="0 -0 0" />
      <inertia ixx="5.74742e-11" ixy="0" ixz="0" iyy="1.23642e-08" iyz="0" izz="1.23387e-08" />
    </inertial>
    <visual>
      <origin xyz="-0.14 0 4.24044e-19" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/RAIL_SSE2BZ_MX10_115__Chamfer2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="base_link">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="right_gripper">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="right_gripper_jaw1">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="right_gripper_jaw2">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="right_gripper_tip">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="right_jaw__none">
    <inertial>
      <mass value="2.48931e-05" />
      <origin xyz="0.0217885 0.00557959 0.013506" rpy="0 -0 0" />
      <inertia ixx="6.58826e-09" ixy="-2.03843e-09" ixz="-2.22498e-09" iyy="1.30337e-08" iyz="-5.98673e-10" izz="1.67661e-08" />
    </inertial>
    <visual>
      <origin xyz="0.005 0.0206 0.0725114" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/right_jaw__NONE.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="root" />
  <link name="usb_camera__usb_camera_elp_usbfhd01m_l180">
    <inertial>
      <mass value="5.15731e-06" />
      <origin xyz="0.0142908 -0.00289375 -0.0155236" rpy="0 -0 0" />
      <inertia ixx="4.07452e-10" ixy="-1.59354e-11" ixz="1.65564e-11" iyy="4.32501e-10" iyz="4.65295e-11" izz="3.79203e-10" />
    </inertial>
    <visual>
      <origin xyz="0.014 -0.00252094 -0.0440456" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/USB_CAMERA__USB_CAMERA_ELP_USBFHD01M_L180.stl" scale="1 1 1" />
      </geometry>
      <material name="0.792157_0.819608_0.933333_0.000000_0.000000">
        <color rgba="0.792157 0.819608 0.933333 1" />
      </material>
    </visual>
  </link>
  <link name="vrcontroller">
    <inertial>
      <mass value="1e-09" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
    </inertial>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_10__ｽｹｰﾘﾝｸﾞ_10">
    <inertial>
      <mass value="3.18307e-05" />
      <origin xyz="-0.0201639 0.0526279 0.0505091" rpy="0 -0 0" />
      <inertia ixx="2.95678e-10" ixy="7.31701e-11" ixz="7.45675e-11" iyy="3.05272e-10" iyz="7.94179e-11" izz="3.09576e-10" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________10__________10.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_11__ｽｹｰﾘﾝｸﾞ_11">
    <inertial>
      <mass value="0.000284944" />
      <origin xyz="-0.0190633 0.0537865 0.0517794" rpy="0 -0 0" />
      <inertia ixx="5.45544e-09" ixy="1.12527e-09" ixz="1.14569e-09" iyy="5.63633e-09" iyz="1.23534e-09" izz="5.68613e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________11__________11.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_12__ｽｹｰﾘﾝｸﾞ_12">
    <inertial>
      <mass value="0.000114434" />
      <origin xyz="-0.0179276 0.0619823 0.0330676" rpy="0 -0 0" />
      <inertia ixx="1.10869e-09" ixy="2.54398e-10" ixz="2.58197e-10" iyy="1.13009e-09" iyz="2.70896e-10" izz="1.13853e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________12__________12.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_13__ｽｹｰﾘﾝｸﾞ_13">
    <inertial>
      <mass value="0.000183754" />
      <origin xyz="-0.00417219 0.0376927 0.0451883" rpy="0 -0 0" />
      <inertia ixx="2.58963e-09" ixy="4.76866e-10" ixz="4.7742e-10" iyy="2.58996e-09" iyz="4.99767e-10" izz="2.6024e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________13__________13.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_14__ｽｹｰﾘﾝｸﾞ_14">
    <inertial>
      <mass value="0.00210511" />
      <origin xyz="-0.0109981 0.0431768 0.0417697" rpy="0 -0 0" />
      <inertia ixx="4.96703e-07" ixy="1.15496e-07" ixz="1.09651e-07" iyy="4.47275e-07" iyz="1.28432e-07" izz="4.74765e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________14__________14.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_15__ｽｹｰﾘﾝｸﾞ_15">
    <inertial>
      <mass value="0.000196147" />
      <origin xyz="-0.0204706 0.0402686 -0.0380614" rpy="0 -0 0" />
      <inertia ixx="1.27607e-08" ixy="-5.18619e-10" ixz="4.53322e-10" iyy="1.15046e-08" iyz="2.95997e-09" izz="1.74387e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________15__________15.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_17__ｽｹｰﾘﾝｸﾞ_17">
    <inertial>
      <mass value="0.00121849" />
      <origin xyz="-0.031002 0.0591305 0.00202584" rpy="0 -0 0" />
      <inertia ixx="8.38291e-07" ixy="-7.48658e-09" ixz="2.50155e-08" iyy="8.31818e-07" iyz="-2.05031e-08" izz="2.18055e-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________17__________17.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_18__ｽｹｰﾘﾝｸﾞ_18">
    <inertial>
      <mass value="0.000331566" />
      <origin xyz="-0.0124269 0.0657502 -0.0195179" rpy="0 -0 0" />
      <inertia ixx="1.62918e-07" ixy="-2.84339e-09" ixz="-1.78394e-08" iyy="1.59621e-07" iyz="-1.74534e-08" izz="8.63827e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________18__________18.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_19__ｽｹｰﾘﾝｸﾞ_19">
    <inertial>
      <mass value="0.000137398" />
      <origin xyz="-0.0228613 0.0363964 -0.0306415" rpy="0 -0 0" />
      <inertia ixx="2.73005e-08" ixy="-8.93824e-12" ixz="-3.42137e-10" iyy="2.64197e-08" iyz="4.74852e-09" izz="1.12818e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________19__________19.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_1__ｽｹｰﾘﾝｸﾞ_1">
    <inertial>
      <mass value="0.000110985" />
      <origin xyz="-0.0366437 0.0626561 0.0422541" rpy="0 -0 0" />
      <inertia ixx="1.94173e-09" ixy="-3.43173e-10" ixz="2.99099e-10" iyy="1.49371e-09" iyz="4.95218e-10" izz="8.9509e-10" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________1__________1.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_20__ｽｹｰﾘﾝｸﾞ_20">
    <inertial>
      <mass value="0.000134583" />
      <origin xyz="-0.0227797 0.0543926 -0.0459161" rpy="0 -0 0" />
      <inertia ixx="3.93035e-09" ixy="-2.19248e-10" ixz="-2.15313e-10" iyy="3.43473e-09" iyz="1.37067e-10" izz="6.99279e-10" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________20__________20.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_21__ｽｹｰﾘﾝｸﾞ_21">
    <inertial>
      <mass value="0.000620988" />
      <origin xyz="-0.0147376 0.0411387 0.0435285" rpy="0 -0 0" />
      <inertia ixx="4.19159e-07" ixy="8.12212e-08" ixz="1.05841e-07" iyy="3.94063e-07" iyz="1.04718e-07" izz="3.67261e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________21__________21.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_22__ｽｹｰﾘﾝｸﾞ_22">
    <inertial>
      <mass value="0.00245039" />
      <origin xyz="-0.0178211 0.0294685 0.0382274" rpy="0 -0 0" />
      <inertia ixx="4.54904e-07" ixy="9.05893e-08" ixz="3.20108e-09" iyy="5.0226e-07" iyz="2.5082e-08" izz="3.19855e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________22__________22.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_23__ｽｹｰﾘﾝｸﾞ_23">
    <inertial>
      <mass value="0.000231587" />
      <origin xyz="-0.0210241 0.0511501 -0.050385" rpy="0 -0 0" />
      <inertia ixx="5.17516e-09" ixy="-1.62704e-09" ixz="-1.16312e-10" iyy="2.26739e-09" iyz="-5.05253e-10" izz="5.92642e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________23__________23.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_24__ｽｹｰﾘﾝｸﾞ_24">
    <inertial>
      <mass value="0.000184101" />
      <origin xyz="-0.00651422 0.0503851 0.0349048" rpy="0 -0 0" />
      <inertia ixx="2.59748e-09" ixy="4.79292e-10" ixz="4.77851e-10" iyy="2.59477e-09" iyz="5.02683e-10" izz="2.6125e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________24__________24.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_25__ｽｹｰﾘﾝｸﾞ_25">
    <inertial>
      <mass value="1.94586e-05" />
      <origin xyz="0.0100614 0.0242076 0.0388574" rpy="0 -0 0" />
      <inertia ixx="1.40987e-10" ixy="-1.11165e-11" ixz="4.03678e-11" iyy="1.36169e-10" iyz="4.18272e-11" izz="3.46706e-11" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________25__________25.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_2__ｽｹｰﾘﾝｸﾞ_2">
    <inertial>
      <mass value="0.00144327" />
      <origin xyz="-0.0257447 0.0178572 0.0415808" rpy="0 -0 0" />
      <inertia ixx="1.66796e-07" ixy="4.12787e-08" ixz="-2.39709e-08" iyy="1.93934e-07" iyz="-2.37551e-08" izz="1.47985e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________2__________2.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_4__ｽｹｰﾘﾝｸﾞ_4">
    <inertial>
      <mass value="0.00632643" />
      <origin xyz="-0.0269312 0.0369466 0.0113458" rpy="0 -0 0" />
      <inertia ixx="8.24046e-06" ixy="9.00132e-07" ixz="-7.89172e-07" iyy="8.09756e-06" iyz="1.25465e-06" izz="2.26203e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________4__________4.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_5__ｽｹｰﾘﾝｸﾞ_5">
    <inertial>
      <mass value="0.00384825" />
      <origin xyz="-0.00915416 0.0439876 0.0404049" rpy="0 -0 0" />
      <inertia ixx="1.68744e-06" ixy="4.14751e-07" ixz="4.13689e-07" iyy="1.59858e-06" iyz="3.69659e-07" izz="1.59292e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________5__________5.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_6__ｽｹｰﾘﾝｸﾞ_6">
    <inertial>
      <mass value="0.000740786" />
      <origin xyz="0.00227635 0.0067662 0.00436198" rpy="0 -0 0" />
      <inertia ixx="5.03459e-08" ixy="-1.64264e-08" ixz="5.70503e-09" iyy="4.14768e-08" iyz="8.48464e-09" izz="4.42082e-08" />
    </inertial>
    <visual>
      <origin xyz="0.0107071 -0.0323643 0.00418072" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________6__________6.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_7__ｽｹｰﾘﾝｸﾞ_7">
    <inertial>
      <mass value="0.00299742" />
      <origin xyz="-0.0247021 0.0658149 -0.012156" rpy="0 -0 0" />
      <inertia ixx="2.09516e-06" ixy="-6.39749e-08" ixz="1.14705e-07" iyy="2.20701e-06" iyz="-9.42999e-08" izz="2.49513e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________7__________7.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_8__ｽｹｰﾘﾝｸﾞ_8">
    <inertial>
      <mass value="0.00353392" />
      <origin xyz="-0.00813127 0.0481906 -0.015282" rpy="0 -0 0" />
      <inertia ixx="2.38692e-06" ixy="5.88627e-09" ixz="-4.49074e-07" iyy="2.06214e-06" iyz="3.03158e-07" izz="7.52278e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________8__________8.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <link name="ｽｹｰﾘﾝｸﾞ_9__ｽｹｰﾘﾝｸﾞ_9">
    <inertial>
      <mass value="0.000351621" />
      <origin xyz="-0.0225663 0.0500783 0.0480026" rpy="0 -0 0" />
      <inertia ixx="1.00042e-08" ixy="1.7754e-09" ixz="1.82493e-09" iyy="1.02517e-08" iyz="1.95554e-09" izz="1.0357e-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://umi/meshes/________9__________9.stl" scale="1 1 1" />
      </geometry>
      <material name="0.952941_0.996078_0.694118_0.000000_0.000000">
        <color rgba="0.952941 0.996078 0.694118 1" />
      </material>
    </visual>
  </link>
  <joint name="camera_link" type="fixed">
    <origin xyz="0.013999999999999974 -0.0089926909146001502 -0.015801650662099095" rpy="-1.7453292519944341 0 -3.1415926535897931" />
    <axis xyz="0 0 1" />
    <parent link="usb_camera__usb_camera_elp_usbfhd01m_l180" />
    <child link="camera_link" />
  </joint>
  <joint name="fastened_1" type="fixed">
    <origin xyz="-0.003 -3.64292e-17 0.0355" rpy="-3.31523e-16 3.31523e-16 -1.5708" />
    <axis xyz="0 0 -1" />
    <parent link="main_mount__cut_extrude10" />
    <child link="bracket_camera__bracket_camera" />
  </joint>
  <joint name="fastened_10" type="fixed">
    <origin xyz="0.005 0.00593 0.00273" rpy="1.68563e-24 8.67362e-17 -1.5708" />
    <axis xyz="1 -0 -0" />
    <parent link="block_sse2bz_mx10_115__lpattern2" />
    <child link="part3__boss_extrude3_1" />
  </joint>
  <joint name="fastened_11" type="fixed">
    <origin xyz="0.005 0.00593 0.00273" rpy="-3.14159 8.67362e-17 -1.5708" />
    <axis xyz="1 0 0" />
    <parent link="block_sse2bz_mx10_115__lpattern2_1" />
    <child link="part3__boss_extrude3" />
  </joint>
  <joint name="fastened_12" type="fixed">
    <origin xyz="0.015 0.0048 -0.0205" rpy="1.5708 -0 1.5708" />
    <axis xyz="0 -1 0" />
    <parent link="part3__boss_extrude3_1" />
    <child link="rack__teethcuts_1__1" />
  </joint>
  <joint name="fastened_13" type="fixed">
    <origin xyz="0.015 0.0148 -0.0055" rpy="1.5708 -0 1.5708" />
    <axis xyz="0 -1 0" />
    <parent link="part3__boss_extrude3" />
    <child link="rack__teethcuts_1_" />
  </joint>
  <joint name="fastened_14" type="fixed">
    <origin xyz="0.00467229 -0.0132907 -0.0781798" rpy="0.349066 7.97666e-17 3.14159" />
    <axis xyz="-6.93889e-17 0.173648 0.984808" />
    <parent link="grip__grip" />
    <child link="ajktns5_70__ajktns5_70" />
  </joint>
  <joint name="fastened_15" type="fixed">
    <origin xyz="-0.0086842 0.00482944 -0.026" rpy="0.174533 2.48412e-15 -1.5708" />
    <axis xyz="-0 0.173648 0.984808" />
    <parent link="main_mount__cut_extrude10" />
    <child link="grip__grip" />
  </joint>
  <joint name="fastened_16" type="fixed">
    <origin xyz="-0.014 -0.0114791 0.0400456" rpy="-1.09763e-28 -9.82132e-29 3.895e-30" />
    <axis xyz="0 0.984808 0.173648" />
    <parent link="bracket_camera__bracket_camera" />
    <child link="usb_camera__usb_camera_elp_usbfhd01m_l180" />
  </joint>
  <joint name="fastened_17" type="fixed">
    <origin xyz="2.42861e-17 0.0146906 0.0833147" rpy="0.349066 -1.07535e-16 -3.14159" />
    <axis xyz="1.51744e-16 0.173648 0.984808" />
    <parent link="ajktns5_70__ajktns5_70" />
    <child link="hntt5_5__hntt5_5_1_" />
  </joint>
  <joint name="fastened_18" type="fixed">
    <origin xyz="3.46945e-18 -1.73472e-18 0.0087" rpy="0 -0 -3.14159" />
    <axis xyz="0 1 0" />
    <parent link="main_mount__cut_extrude10" />
    <child link="encoder__boss_extrude2" />
  </joint>
  <joint name="fastened_2" type="fixed">
    <origin xyz="0.005 -9.29812e-16 2.4503e-17" rpy="3.14159 -9.57726e-29 1.5708" />
    <axis xyz="0 -1 -1.22465e-16" />
    <parent link="rail_holder__cut_extrude2" />
    <child link="rail_sse2bz_mx10_115__chamfer2" />
  </joint>
  <joint name="fastened_3" type="fixed">
    <origin xyz="0.023824 -0.00936292 -0.00189731" rpy="0.175771 -0.0438507 3.05141" />
    <axis xyz="0.719516 0.562323 -0.40754" />
    <parent link="holder_quest_r__holder_quest_45deg_v3_r" />
    <child link="ｽｹｰﾘﾝｸﾞ_6__ｽｹｰﾘﾝｸﾞ_6" />
  </joint>
  <joint name="fastened_4" type="fixed">
    <origin xyz="0.01 -0.01705 0.036" rpy="2.31625e-18 -1.74499e-18 1.5708" />
    <axis xyz="-0 1 -0" />
    <parent link="main_mount__cut_extrude10" />
    <child link="holder_quest_r__holder_quest_45deg_v3_r" />
  </joint>
  <joint name="fastened_5" type="fixed">
    <origin xyz="0.0423122 -0.0225 0.00648485" rpy="-1.5708 -1.8242e-16 3.14159" />
    <axis xyz="1.27966e-16 0 -1" />
    <parent link="left_jaw__none" />
    <child link="marker_plate_left__cbore_for_m2_cross_recess_pan_head_screw1" />
  </joint>
  <joint name="fastened_6" type="fixed">
    <origin xyz="0.0423122 -0.00750003 0.0151152" rpy="1.5708 -5.04871e-29 3.14159" />
    <axis xyz="1.27966e-16 -0 1" />
    <parent link="right_jaw__none" />
    <child link="marker_plate_right___marker_plate_left___cbore_for_m2_cross_recess_pan_head_screw1_" />
  </joint>
  <joint name="fastened_7" type="fixed">
    <origin xyz="-0.017 0.07 2.08167e-17" rpy="-3.14159 4.5606e-31 3.14159" />
    <axis xyz="-1 -0 -0" />
    <parent link="main_mount__cut_extrude10" />
    <child link="rail_holder__cut_extrude2" />
  </joint>
  <joint name="fastened_8" type="fixed">
    <origin xyz="-0.005 0.0058 1.04368e-12" rpy="-1.5708 5.02337e-16 3.14159" />
    <axis xyz="-1 -0 -0" />
    <parent link="part3__boss_extrude3_1" />
    <child link="right_jaw__none" />
  </joint>
  <joint name="fastened_9" type="fixed">
    <origin xyz="-0.005 -0.0058 0.015" rpy="1.5708 2.05937e-17 3.14159" />
    <axis xyz="-1 0 0" />
    <parent link="part3__boss_extrude3" />
    <child link="left_jaw__none" />
  </joint>
  <joint name="fixed_node_to_root_joint" type="fixed">
    <origin xyz="0.0192419 -0.0081836 0.00174604" rpy="5.87288e-16 -1.94289e-16 -1.78511e-17" />
    <axis xyz="0 0 1" />
    <parent link="root" />
    <child link="main_mount__cut_extrude10" />
  </joint>
  <joint name="grip_link" type="fixed">
    <origin xyz="0.00467229 -0.0161086 -0.0365737" rpy="2.779283512e-17 -0.174533 -1.5708" />
    <axis xyz="0 0 1" />
    <parent link="grip__grip" />
    <child link="grip_link" />
  </joint>
  <joint name="group_1_fastened_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_24__ｽｹｰﾘﾝｸﾞ_24" />
    <child link="ｽｹｰﾘﾝｸﾞ_23__ｽｹｰﾘﾝｸﾞ_23" />
  </joint>
  <joint name="group_1_fastened_joint_1" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_1__ｽｹｰﾘﾝｸﾞ_1" />
    <child link="ｽｹｰﾘﾝｸﾞ_19__ｽｹｰﾘﾝｸﾞ_19" />
  </joint>
  <joint name="group_1_fastened_joint_10" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_12__ｽｹｰﾘﾝｸﾞ_12" />
    <child link="ｽｹｰﾘﾝｸﾞ_11__ｽｹｰﾘﾝｸﾞ_11" />
  </joint>
  <joint name="group_1_fastened_joint_11" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_23__ｽｹｰﾘﾝｸﾞ_23" />
    <child link="ｽｹｰﾘﾝｸﾞ_22__ｽｹｰﾘﾝｸﾞ_22" />
  </joint>
  <joint name="group_1_fastened_joint_12" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="-0 -0 -1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_7__ｽｹｰﾘﾝｸﾞ_7" />
    <child link="ｽｹｰﾘﾝｸﾞ_8__ｽｹｰﾘﾝｸﾞ_8" />
  </joint>
  <joint name="group_1_fastened_joint_13" type="fixed">
    <origin xyz="0.0107071 -0.0323643 0.00418072" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_6__ｽｹｰﾘﾝｸﾞ_6" />
    <child link="ｽｹｰﾘﾝｸﾞ_5__ｽｹｰﾘﾝｸﾞ_5" />
  </joint>
  <joint name="group_1_fastened_joint_14" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_22__ｽｹｰﾘﾝｸﾞ_22" />
    <child link="ｽｹｰﾘﾝｸﾞ_21__ｽｹｰﾘﾝｸﾞ_21" />
  </joint>
  <joint name="group_1_fastened_joint_15" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="-0 -0 -1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_8__ｽｹｰﾘﾝｸﾞ_8" />
    <child link="ｽｹｰﾘﾝｸﾞ_9__ｽｹｰﾘﾝｸﾞ_9" />
  </joint>
  <joint name="group_1_fastened_joint_16" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_13__ｽｹｰﾘﾝｸﾞ_13" />
    <child link="ｽｹｰﾘﾝｸﾞ_12__ｽｹｰﾘﾝｸﾞ_12" />
  </joint>
  <joint name="group_1_fastened_joint_17" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_5__ｽｹｰﾘﾝｸﾞ_5" />
    <child link="ｽｹｰﾘﾝｸﾞ_4__ｽｹｰﾘﾝｸﾞ_4" />
  </joint>
  <joint name="group_1_fastened_joint_18" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_4__ｽｹｰﾘﾝｸﾞ_4" />
    <child link="ｽｹｰﾘﾝｸﾞ_2__ｽｹｰﾘﾝｸﾞ_2" />
  </joint>
  <joint name="group_1_fastened_joint_19" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_14__ｽｹｰﾘﾝｸﾞ_14" />
    <child link="ｽｹｰﾘﾝｸﾞ_13__ｽｹｰﾘﾝｸﾞ_13" />
  </joint>
  <joint name="group_1_fastened_joint_2" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_11__ｽｹｰﾘﾝｸﾞ_11" />
    <child link="ｽｹｰﾘﾝｸﾞ_10__ｽｹｰﾘﾝｸﾞ_10" />
  </joint>
  <joint name="group_1_fastened_joint_20" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_20__ｽｹｰﾘﾝｸﾞ_20" />
    <child link="ｽｹｰﾘﾝｸﾞ_1__ｽｹｰﾘﾝｸﾞ_1" />
  </joint>
  <joint name="group_1_fastened_joint_21" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_15__ｽｹｰﾘﾝｸﾞ_15" />
    <child link="ｽｹｰﾘﾝｸﾞ_14__ｽｹｰﾘﾝｸﾞ_14" />
  </joint>
  <joint name="group_1_fastened_joint_3" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_19__ｽｹｰﾘﾝｸﾞ_19" />
    <child link="ｽｹｰﾘﾝｸﾞ_18__ｽｹｰﾘﾝｸﾞ_18" />
  </joint>
  <joint name="group_1_fastened_joint_4" type="fixed">
    <origin xyz="0.0107071 -0.0323643 0.00418072" rpy="0 -0 0" />
    <axis xyz="-0 -0 -1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_6__ｽｹｰﾘﾝｸﾞ_6" />
    <child link="ｽｹｰﾘﾝｸﾞ_7__ｽｹｰﾘﾝｸﾞ_7" />
  </joint>
  <joint name="group_1_fastened_joint_5" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_18__ｽｹｰﾘﾝｸﾞ_18" />
    <child link="ｽｹｰﾘﾝｸﾞ_17__ｽｹｰﾘﾝｸﾞ_17" />
  </joint>
  <joint name="group_1_fastened_joint_6" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_25__ｽｹｰﾘﾝｸﾞ_25" />
    <child link="ｽｹｰﾘﾝｸﾞ_24__ｽｹｰﾘﾝｸﾞ_24" />
  </joint>
  <joint name="group_1_fastened_joint_7" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_2__ｽｹｰﾘﾝｸﾞ_2" />
    <child link="ｽｹｰﾘﾝｸﾞ_25__ｽｹｰﾘﾝｸﾞ_25" />
  </joint>
  <joint name="group_1_fastened_joint_8" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_21__ｽｹｰﾘﾝｸﾞ_21" />
    <child link="ｽｹｰﾘﾝｸﾞ_20__ｽｹｰﾘﾝｸﾞ_20" />
  </joint>
  <joint name="group_1_fastened_joint_9" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <parent link="ｽｹｰﾘﾝｸﾞ_17__ｽｹｰﾘﾝｸﾞ_17" />
    <child link="ｽｹｰﾘﾝｸﾞ_15__ｽｹｰﾘﾝｸﾞ_15" />
  </joint>
  <joint name="left_gripper" type="fixed">
    <origin xyz="3.107659963e-12 -0.003953620003 0.0108" rpy="1.5708 4.633220552e-16 2.954929494e-16" />
    <axis xyz="0 0 1" />
    <parent link="left_jaw__none" />
    <child link="left_gripper" />
  </joint>
  <joint name="left_gripper_jaw1" type="fixed">
    <origin xyz="0.0649192 -0.01736141697 0.003546323772" rpy="0 -1.270549421e-21 -8.027852468e-23" />
    <axis xyz="0 0 1" />
    <parent link="left_gripper" />
    <child link="left_gripper_jaw1" />
  </joint>
  <joint name="left_gripper_jaw2" type="fixed">
    <origin xyz="0.0400692 -0.007373805321 0.003996257086" rpy="0 -1.987351052e-17 9.127421072e-22" />
    <axis xyz="0 0 1" />
    <parent link="left_gripper" />
    <child link="left_gripper_jaw2" />
  </joint>
  <joint name="left_gripper_tip" type="fixed">
    <origin xyz="0.0760001 -0.01736141697 0.003546443772" rpy="0 -1.270549421e-21 -8.027852468e-23" />
    <axis xyz="0 0 1" />
    <parent link="left_gripper" />
    <child link="left_gripper_tip" />
  </joint>
  <joint name="revolute_1" type="continuous">
    <origin xyz="-0.005 -0.07 2.66714e-17" rpy="-0.87037469282041346 2.2204460492503131e-16 0" />
    <axis xyz="-1 -0 -0" />
    <parent link="rail_holder__cut_extrude2" />
    <child link="pinion_gear__bore_1_" />
    <mimic joint="slider_1" multiplier="-100" offset="0" />
  </joint>
  <joint name="base_link" type="fixed">
    <origin xyz="-0.0135653 -3.46945e-18 -0.019" rpy="3.20379e-48 1.89243e-15 -3.14159" />
    <axis xyz="0 0 1" />
    <parent link="main_mount__cut_extrude10" />
    <child link="base_link" />
  </joint>
  <joint name="right_gripper" type="fixed">
    <origin xyz="1.172006936e-12 0.0111069 0.0111539" rpy="1.5708 4.742289124e-15 -3.829664653e-16" />
    <axis xyz="0 0 1" />
    <parent link="right_jaw__none" />
    <child link="right_gripper" />
  </joint>
  <joint name="right_gripper_jaw1" type="fixed">
    <origin xyz="0.0649192 0.01700751325 0.003606517528" rpy="-8.470329473e-22 -8.470329473e-22 7.010250678e-22" />
    <axis xyz="0 0 1" />
    <parent link="right_gripper" />
    <child link="right_gripper_jaw1" />
  </joint>
  <joint name="right_gripper_jaw2" type="fixed">
    <origin xyz="0.0387761 0.006543915867 0.004319625963" rpy="-8.470329473e-22 4.464710665e-17 -1.111517486e-21" />
    <axis xyz="0 0 1" />
    <parent link="right_gripper" />
    <child link="right_gripper_jaw2" />
  </joint>
  <joint name="right_gripper_tip" type="fixed">
    <origin xyz="0.0760001 0.01700751325 0.003607407528" rpy="-8.470329473e-22 -8.470329473e-22 7.010250678e-22" />
    <axis xyz="0 0 1" />
    <parent link="right_gripper" />
    <child link="right_gripper_tip" />
  </joint>
  <joint name="slider_1" type="prismatic">
    <origin xyz="-0.087500000000000008 0.0040699999999999981 0.004769999999999967" rpy="2.29474e-28 6.63046e-16 -3.22328e-17" />
    <axis xyz="-1 0 0" />
    <parent link="rail_sse2bz_mx10_115__chamfer2" />
    <child link="block_sse2bz_mx10_115__lpattern2_1" />
    <limit effort="1" velocity="1" lower="0" upper="0.05" />
  </joint>
  <joint name="slider_2" type="prismatic">
    <origin xyz="-0.052500000000000005 0.0040700000000000016 0.0047699999999999835" rpy="3.31523e-16 -3.31523e-16 -3.22328e-17" />
    <axis xyz="-1 0 0" />
    <parent link="rail_sse2bz_mx10_115__chamfer2" />
    <child link="block_sse2bz_mx10_115__lpattern2" />
    <limit effort="1" velocity="1" lower="-0.05" upper="0" />
    <mimic joint="slider_1" multiplier="-1" offset="0" />
  </joint>
  <joint name="vrcontroller" type="fixed">
    <origin xyz="-0.050565247511817277 -0.0089499649967399453 0.10250002905812408" rpy="0.78539811050546149 -5.2891987456504808e-08 -2.3561934705770335" />
    <axis xyz="0 0 1" />
    <parent link="base_link" />
    <child link="vrcontroller" />
  </joint>
  <link name="controller_holder" />
  <joint name="controller_holder_frame" type="fixed">
    <origin xyz="0.017500000000000002 -0.002 0.0089999999999999976" rpy="0 0 1.5707963267948966" />
    <parent link="holder_quest_r__holder_quest_45deg_v3_r" />
    <child link="controller_holder" />
  </joint>
</robot>
